{% extends 'base.html.twig' %}

{% block title %}Passwords{% endblock %}

{% block body %}
    <div class="container">
        {% if passwords %}
            <div>
                <div>
                    <h1>Your Passwords </h1>
                </div>
                <div>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Password</th>
                                <th scope="col">Copy</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for password in passwords %}
                                    <tr>
                                        <td><a href="{{ path('app_password_personal',{ 'id':password.id}) }}">{{ password.local }}</a></td>
                                        <td>{{ password.password }}</td>
                                        <td><button type="button" onclick="copyToClipboard('{{ password.password }}')" class="btn btn-primary">Copy</button></td>

                                        <td>
                                            <form action="{{ path('app_password_delete',{'id':password.id}) }}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <h2>There are no passwords saved</h2>
        {% endif %}
    </div>
{% endblock %}
