{% extends 'base.html.twig' %}

{% block title %}Individual Password{% endblock %}

{% block body %}
         <div class="container">
            <div>
                <h1>{{ password.local }}</h1>
            </div>
            <div>
                <div>
                    <table class="table mb-3">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Level</th>
                            <th scope="col">Description</th>
                            <th scope="col">Password</th>
                            <th scope="col">Copy</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ password.local }}</th>
                                <td>{{ password.securityLevel }}</td>
                                <td>{{ password.description }}</td>
                                <td>{{ password.password }}</td>
                                <td><button type="button" class="btn btn-primary" onclick="copyToClipboard('{{ password.password }}')">Copy</button></td>
                                    <td>
                                        <form action="{{ path('app_password_edit',{'id':password.id}) }}">
                                            <button type="submit" class="btn btn-success">Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ path('app_password_delete',{'id':password.id}) }}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
